.castItem {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;

  & img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    transition: transform 0.5s;
    border-radius: 140px;
    line-height: 50%;
    line-height: 275px;
    box-shadow: -4px 4px 0px 2px #edc562;
    &:hover {
      transform: scale(1.05);
    }
  }

  &Name {
    font-size: 25px;
  }
}
