@use "../../style/mixins" as *;

$placeholder-bg-color: #808080;

.sectionContainer {
  padding: 10px;

  &MovieImage {
    height: 225px;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    image-rendering: pixelated;
    filter: brightness(70%);
    transition: filter 0.2s;
    cursor: pointer;

    &:hover {
      filter: brightness(100%);
    }
  }

  &PlaceholderImage {
    @include flexCenter;
    background-color: $placeholder-bg-color;
  }

  &Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
  }

  &MovieTitle {
    align-self: flex-start;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &MovieDate {
    align-self: flex-start;
    font-size: 14px;
    color: #414a4c;
  }

  &Header {
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--primary-color);
  }

  &Row {
    display: flex;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
  }
}
