.headerContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--header-color);
  padding: 15px;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
  }

  &HeadingWrapper {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  h1 {
    color: var(--text-color);
    font-weight: 500;
  }

  nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    gap: 60px;
  }

  &NavItem {
    cursor: pointer;
    color: var(--text-color);
    font-weight: 500;
    border-bottom: 3px solid transparent;
    font-size: 20px;

    &:hover {
      border-color: white;
    }
  }
}
