.headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-footer);
  padding: 15px;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0%;
  top: 0%;
  right: 0%;
  z-index: 10;

  &HeadingWrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
  }

  h1 {
    color: var(--primary-color);
    font-weight: 500;
  }

  nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-right: 50px;
  }

  &NavItem {
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 500;
    border-bottom: 3px solid transparent;
    font-size: 20px;

    &:hover {
      border-color: white;
    }
  }
}
