.headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-color);
  padding: 15px;

  nav {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    color: var(--text-color);
    font-weight: 500;
  }

  nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 150px;
  }

  &NavItem {
    cursor: pointer;
    color: var(--text-color);
    font-weight: 500;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid white;
    }
  }
}
