:root {
  --primary-color: #daa520;
  --primary-color-bold: #f4b005;
  --primary-color-light: #edc562;
  --bg-color: #171717;
  --header-footer: #000000;
  --grey: #808080;
  --primary-text-color: #ffffff;
  --secondary-text-color: #ededed;
}
