@use "../../style/mixins" as *;

.movieInfo {
  margin: 10% 0 0 5%;
  display: flex;

  &ImageContainer {
    display: flex;
    flex-direction: column;

    &Image {
      @include flexCenter;
      object-fit: cover;
      box-shadow: -3px 4px 24px 3px #edc562;
      border-radius: 5px;
      height: 345px;
      width: 230px;
    }

    &Duration {
      display: flex;
      gap: 5px;
      margin-top: 25px;

      &Time {
        color: var(--secondary-text-color);
      }
    }

    &Genre {
      color: var(--secondary-text-color);
    }
  }

  &Content {
    padding-left: 50px;

    &TopDate {
      color: var(--secondary-text-color);
    }

    &Top {
      display: flex;
      gap: 20px;
      align-items: center;
      width: 100%;

      &Title {
        color: var(--primary-text-color);
      }
    }

    &Summary {
      max-width: 50%;
      color: var(--secondary-text-color);
    }
  }
}
