@use "../../style/mixins" as *;

.movieInfo {
  margin: 10% 0 0 5%;
  display: flex;

  &Image {
    @include flexCenter;
    box-shadow: -3px 4px 24px 3px #edc562;
    border-radius: 5px;
    height: 345px;
    width: 230px;
  }

  &Content {
    &Top {
      margin-left: 5%;
      display: flex;
      gap: 20px;
    }
  }
}
